body {
  font-family: "Rasa", serif;
  font-weight: 300;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

button {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}

.text-important {
  color: #a7bea9;
  font-size: 45px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/*header > ul */
.navmenu {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.navmenu a:hover {
  color: #a7bea9;
  text-decoration: underline;
}

/* section 1   */
#about-me {
  display: flex;
  padding: 35px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.168);
}

.avatar {
  border-radius: 50%;
 
}

/*Projects  */
#projects {
  border-bottom: 1px solid rgba(0, 0, 0, 0.168);
}
#projects h2 {
  text-align: center;
}



.project-card {

  cursor: pointer;
  width: 300px;
  /* margin : top/bottom  left/right  */
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.project-card:hover {
  background-color: #a7bea9;
  transform: translateY(-4px);
}

.project-card a {
  color: rgb(61, 170, 221);
  text-decoration: underline;
}

.project-card p {
  padding: 10px;
}

/*Contact me  */
#contact {
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}
#contact h2 {
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 50%;
}
#contact form > button {
  align-self: center;
  margin-top: 15px;
  padding: 5px;
}
#contact form > button:hover {
  color: white;
  background-color: black;
}
/*Footer*/
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
}

